
proj1/chatclient
proj1/.chatserve.py.swp
proj1/.chatclient.c.swp
proj2/ftclient.class
proj2/Sock.class
proj2/ftclient.class
*.class
proj2/ftserver
*.txt1
proj2/4534
proj2/45344
proj2/4572
proj2/4579
*.txt2
